@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
$headings-font-family: 'Roboto Condensed',
sans-serif;
$primary: #4269d3;
$dark: #04040C;
$headings-color: #284876;
$card-bg: #FCFCFC;